<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="CONSOLE_LOG_PATTERN" value="%d{dd-MM-yyyy HH:mm:ss.SSS} %highlight(%-5level) %magenta([%thread]) %logger{36}.%M - %msg%n"/>
    <springProfile name="prod">
        <appender name="DATA_MASK_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="com.sbc.bbx.sample.configurations.DataMaskingPatternLayout">
                    <maskPattern>((?!000|666)[0-8][0-9]{2}-(?!00)[0-9]{2}-(?!0000)[0-9]{4})</maskPattern> <!-- SSN -->
                    <maskPattern>(\w+@\w+\.\w+)</maskPattern> <!-- Email -->
                    <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                    <charset>${CONSOLE_LOG_CHARSET}</charset>
                </layout>
            </encoder>
        </appender>
    </springProfile>
    <springProfile name="!prod">
        <appender name="DATA_MASK_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>${CONSOLE_LOG_CHARSET}</charset>
            </encoder>
        </appender>
    </springProfile>
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DATA_MASK_CONSOLE" />
        <includeCallerData>false</includeCallerData>
        <neverBlock>true</neverBlock>
        <queueSize>1024</queueSize>
    </appender>
    <root level="INFO">
        <appender-ref ref="ASYNC" />
    </root>
</configuration>